{
  "openapi": "3.0.3",
  "info": {
    "title": "Internet.nl Batch Scan API",
    "description": "Batch scan multiple addresses for compliance with modern internet standards.",
    "termsOfService": "[TODO] http://api.internet.nl/v2/terms.html",
    "contact": {
      "name": "Internet.nl Helpdesk",
      "email": "vraag@internet.nl"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.internet.nl/v2",
      "description": "Production server"
    },
    {
      "url": "https://test.api.internet.nl/v2",
      "description": "Development server"
    }
  ],
  "components": {
    "schemas": {
      "Scan": {
        "type": "object",
        "properties": {
          "success": {
            "type": "string",
            "default": "scan created"
          },
          "message": {
            "type": "string",
            "enum": [
              ""
            ]
          },
          "id": {
            "type": "string",
            "format": "^[0-9abcdef]{16}$"
          },
          "metadata": {
            "$ref": "#/components/schemas/ScanMetadata"
          }
        }
      },
      "ScanMetadata": {
        "type": "object",
        "properties": {
          "identified_as": {
            "type": "string"
          },
          "scan_type": {
            "type": "enum",
            "enum": [
              "web",
              "mail"
            ]
          },
          "api_version": {
            "type": "string"
          },
          "submission_date": {
            "type": "string",
            "format": "date-time"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScanStatus": {},
      "ScanResult": {
        "type": "object",
        "properties": {
          "scan": {
            "type": "string",
            "format": "^[0-9abcdef]{16}$"
          },
          "metadata": {
            "$ref": "#/components/schemas/ScanMetadata"
          },
          "result_metadata": {
            "$ref": "#/components/schemas/ResultMetaData"
          },
          "domains": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string"
              },
              "status":{
                "type": "enum",
                "enum": ["success", "could_not_be_scanned"]
              },
              "score": {
                "type": "object",
                "properties": {
                  "percentage": {
                    "type": "integer"
                  },
                  "icon": {
                    "type": "string"
                  }
                }
              },
              "report": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "address": {
                    "type": "string",
                    "format": "url"
                  }
                }
              },
              "derived_results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Result"
                }
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      },
      "ResultMetaData": {},
      "ScanError": {},
      "Result": {
        "type": "object",
        "properties": {
          "test": {
            "type": "string",
            "format": "^[a-z_]*$"
          },
          "verdict": {
            "type": "enum",
            "enum": [
              "passed",
              "warning",
              "info",
              "failed",
              "not_tested",
              "not_applicable"
            ]
          },
          "icon": {
            "type": "string"
          },
          "translation": {
            "type": "object",
            "properties": {
              "verdict": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/scans": {
      "post": {
        "description": "Creates a new scan. [DESIGN DECISION]: base url used as suggested in API Designrules.",
        "operationId": "createScan",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Serves as a reference for the requester. Does not need to be unique.",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains",
            "in": "query",
            "description": "List of domains to scan. For example: ['internet.nl', 'api.internet.nl']",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string [TOOD: define second level url format]"
              }
            }
          },
          {
            "name": "scan_type",
            "in": "query",
            "description": "Either a mail or web scan.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "enum",
              "enum": [
                "web",
                "mail"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A created scan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "500": {
            "description": "Creation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "dict",
                  "items": {
                    "$ref": "#/components/schemas/ScanError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scans/status/{scanId}": {
      "get": {
        "description": "Retrieve information about the progress of the scan. [DESIGN DECISION]: the status and result are separated.",
        "parameters": [
          {
            "name": "scanId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan progress or result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "dict",
                  "items": {
                    "$ref": "#/components/schemas/ScanStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scans/result/{scanId}": {
      "get": {
        "description": "Retrieve scan result information.",
        "parameters": [
          {
            "name": "scanId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          }
        }
      }
    }
  }
}
