{
  "openapi": "3.0.3",
  "info": {
    "title": "Internet.nl Batch Scan API",
    "description": "Batch scan multiple domains for compliance with modern internet standards.",
    "termsOfService": "[TODO] http://api.internet.nl/v2/terms.html",
    "contact": {
      "name": "Internet.nl Helpdesk",
      "email": "vraag@internet.nl"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.internet.nl/v2",
      "description": "Production server"
    },
    {
      "url": "https://test.api.internet.nl/v2",
      "description": "Development server"
    }
  ],
  "components": {
    "schemas": {
      "Scan": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "scan created"
            ]
          },
          "id": {
            "type": "string",
            "format": "^[0-9abcdef]{32}$",
            "example": "f284049256dd4ca793edbcd4ae41759a"
          },
          "metadata": {
            "$ref": "#/components/schemas/ScanMetadata"
          }
        }
      },
      "ScanMetadata": {
        "type": "object",
        "properties": {
          "identified_as": {
            "type": "string"
          },
          "scan_type": {
            "type": "enum",
            "enum": [
              "web",
              "mail"
            ]
          },
          "api_version": {
            "type": "string",
            "example": "2"
          },
          "submission_date": {
            "type": "string",
            "format": "date-time"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "description": "Only set when the scan is finished."
          }
        }
      },
      "ScanStatus": {},
      "ScanResult": {
        "type": "object",
        "properties": {
          "scan": {
            "type": "string",
            "format": "^[0-9abcdef]{32}$",
            "example": "f284049256dd4ca793edbcd4ae41759a"
          },
          "metadata": {
            "$ref": "#/components/schemas/ScanMetadata"
          },
          "result_metadata": {
            "$ref": "#/components/schemas/ResultMetaData"
          },
          "domains": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string"
              },
              "status":{
                "type": "enum",
                "enum": ["success", "could_not_be_scanned"]
              },
              "score": {
                "type": "object",
                "properties": {
                  "percentage": {
                    "type": "integer"
                  },
                  "icon": {
                    "type": "string"
                  }
                }
              },
              "report": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "address": {
                    "type": "string",
                    "format": "url"
                  }
                }
              },
              "derived_results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Result"
                }
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      },
      "ResultMetaData": {},
      "ScanError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "default": "Error: "
          }
        }
      },
      "Result": {
        "type": "object",
        "properties": {
          "test": {
            "type": "string",
            "format": "^[a-z_]*$"
          },
          "verdict": {
            "type": "enum",
            "enum": [
              "passed",
              "warning",
              "info",
              "failed",
              "not_tested",
              "not_applicable"
            ]
          },
          "icon": {
            "type": "string"
          },
          "translation": {
            "type": "object",
            "properties": {
              "verdict": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/scans": {
      "post": {
        "description": "Creates a new scan. [DESIGN DECISION]: base url used as suggested in API Designrules.",
        "operationId": "createScan",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "description": "Type of scan to be performed.",
                    "type": "enum",
                    "enum": ["web", "mail"]
                  },
                  "tracking_information": {
                    "description": "Serves as a reference for the requester. Does not need to be unique.",
                    "type": "string"
                  },
                  "domains": {
                    "description": "List of domains to scan. For example: ['internet.nl', 'api.internet.nl']",
                    "example": ["internet.nl", "api.internet.nl"],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["domains"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scan created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "500": {
            "description": "Scan creation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanError"
                }
              }
            }
          }
        }
      }
    },
    "/scans/status/{scanId}": {
      "get": {
        "operationId": "getScanStatus",
        "description": "Retrieve information about the progress of the scan. [DESIGN DECISION]: the status and result are separated.",
        "parameters": [
          {
            "name": "scanId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan progress or result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "dict",
                  "items": {
                    "$ref": "#/components/schemas/ScanStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scans/result/{scanId}": {
      "get": {
        "operationId": "getScanResult",
        "description": "Retrieve scan result information.",
        "parameters": [
          {
            "name": "scanId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          }
        }
      }
    }
  }
}
