# Security
CSRF_TRUSTED_ORIGINS_DEFAULT_DOMAIN=http://localhost:8000
CSRF_TRUSTED_ORIGINS_WILDCARD_DOMAIN=http://localhost:8000
CORS_ALLOWED_ACCEPT_DOMAIN=http://localhost:8000
CORS_ALLOWED_DOMAIN=http://localhost:8000

DEFAULT_FROM_EMAIL=info@example.nl

# These nameservers (CSV) are used to prescan: check what endpoints need to be scanned
WSM_NAMESERVERS=9.9.9.9

# Default network composition in production evironment.
# In docker environment the hostname of the broker is "broker". Example: redis://broker::6379/0
BROKER=redis://broker:6379/0
DRAMATIQ_BROKER_URL=redis://broker:6379/1
DRAMATIQ_BROKER_URL_RESULT_BACKEND=redis://broker:6379/2
DRAMATIQ_BROKER_URL_RATE_LIMITER_BACKEND=redis://broker:6379/3

# OIDC
# OIDC_CLIENT_ID=dashboard
# OIDC_CLIENT_SECRET=<client_secret>
# OIDC_SERVER_URL=<oidc_server_url>
# OIDC_PROVIDER_ID=my-oidc
# OIDC_PROVIDER_NAME=OIDC

# Note that OIDC requires additional configuration in settings.py.
# Such as:
# ACCOUNT_SIGNUP_FIELDS = ["username"]
# ACCOUNT_EMAIL_VERIFICATION = "none"
# ACCOUNT_EMAIL_VERIFICATION_BY_CODE_ENABLED = False
#
# In that case you might not want to support any webauthn for existing users:
# MFA_PASSKEY_SIGNUP_ENABLED = False
# MFA_PASSKEY_LOGIN_ENABLED = False