# enable debug by default
DEBUG=1

# pip should not complain about its version, mostly leads to red herrings
export PIP_DISABLE_PIP_VERSION_CHECK=1

# export virtualenv and path used for this project
if test "$(uname -s)" = "Darwin";then
    ENV=~/Library/Caches/virtualenvs/$(basename $PWD)
else
    ENV=${XDG_CACHE_HOME:-~/.cache}/virtualenvs/$(basename $PWD)
fi
export VIRTUAL_ENV=${VIRTUAL_ENV:-${ENV}}
export PATH=${VIRTUAL_ENV}/bin:$PATH

export SECRET_KEY="_dzlo^9d#ox6!7c9rju@=u8+4^sprqocy3s*l*ejc2yr34@&89"
export FIELD_ENCRYPTION_KEY="b'_H1RMbPAgbhGHfG0Ok38OK6zNZ90P7AU9wULXp3aa1A='"
