# enable debug by default
DEBUG=1

# during development, just have ipv6 on.
export NETWORK_SUPPORTS_IPV6=1

# add tools to path
export PATH=$PWD/tools/:$PATH

# pip should not complain about its version, mostly leads to red herrings
export PIP_DISABLE_PIP_VERSION_CHECK=1

# export virtualenv and path used for this project
if test "$(uname -s)" = "Darwin";then
    export VIRTUAL_ENV=~/Library/Caches/virtualenvs/$(basename $PWD)
else
    export VIRTUAL_ENV=${XDG_CACHE_HOME:-~/.cache}/virtualenvs/$(basename $PWD)
fi
export PATH=${VIRTUAL_ENV}/bin:$PATH
