# enable DEBUG mode by default
export DEBUG=1

# record path of Python executable outside of Tox environment to prevent conflicts
export PYTHON_BIN=$(which python3.6)

if test -z "$PYTHON_BIN"; then
	echo "Please make sure Python3.6 is installed! https://www.python.org/downloads/"
	exit 1
fi

# use virtualenv created by Tox for development
export PATH=$PWD/.tox/default/bin/:$PATH
export VIRTUAL_ENV=$PWD/.tox/default/

# add tools to path
export PATH=$PWD/tools/:$PATH

