/.idea/
.DS_Store
*.sqlite3
*.py[co]
.tox
*.egg-info
.cache
.coverage
htmlcov
error.log
dist/
build/
code.json
codeclimate.json
static/
!dashboard/*/static/
.direnv
version
dev_db/
temp/*
*.out
*.rdb
.pytest_cache/
db.sqlite3-journal
.pip-cache/*
*.p12
config.json

# nodejs stuff
package-lock.json
node_modules/

# type checking config
.mypy_cache/

pip-wheel-metadata/

# make state files
.make.*
