# Dependencies for this project are manager using pip-tools (https://github.com/jazzband/pip-tools).
# This is a simple management tool to manage version pinnin build on top of Pip and requirements.txt.
# See upgrade commands here: https://github.com/jazzband/pip-tools/
# eg: pip-compile --upgrade-package django

# In this file only
# - specify requirements that are needed for Dashboard runtime (no development requirements).
# - no requirements that are already provided by websecmap itself
# - no version pinning, unless it is required and explained

# to update websecmap, update the SHA hash and run: make update_requirement_websecmap
git+https://gitlab.com/internet-cleanup-foundation/web-security-map@a6805e539602702276d479fbc8343a678859c387#egg=websecmap

django-otp
django-two-factor-auth>1.15
django-picklefield
validators

# python-magic is a Python interface to the libmagic file type identification library. libmagic identifies file types
# by checking their headers according to a predefined list of file types. This functionality is exposed to the command
# line by the Unix command file.
# Used to determine mimetype in spreadsheet uploads.
python-magic
polib
django-activity-stream

# sending mail notifications, per #54, translatable and managable templates in the admin interface
django_mail_admin>0.3

# Allow CORS requests from client on the same server:
django-cors-headers

# prior releases don't have wheels for Apple Silicon
numpy >= 1.21.0


# include (security) version constraints for non primary dependencies
-c security-constraints.in

# tags on urls in relationships
django-taggit

# not auto-installed dependency for django-two-factor-auth
# see: https://github.com/jazzband/django-two-factor-auth/issues/213
# and: https://django-phonenumber-field.readthedocs.io/en/latest/
phonenumbers
