# dependencies not required during development

# make sure there are no version conflicts with requirements.txt
-c requirements.txt

git+https://gitlab.com/internet-cleanup-foundation/web-security-map@baf75de2469458d0150bde181809ff2f423a4434#egg=websecmap[deploy]

# include (security) version constraints for non primary dependencies
-c security-constraints.in
