# Dependencies for this project are manager using pip-tools (https://github.com/jazzband/pip-tools).
# This is a simple management tool to manage version pinnin build on top of Pip and requirements.txt.
# See upgrade commands here: https://github.com/jazzband/pip-tools/
# eg: pip-compile --upgrade-package django

# In this file only
# - specify requirements that are needed for Dashboard runtime (no development requirements).
# - no requirements that are already provided by websecmap itself
# - no version pinning, unless it is required and explained

# pytest docker was not released to pypi
git+https://github.com/avast/pytest-docker@9ce726f4a045addc777fb1cea837a6309cbbeef6#egg=pytest-docker

# to update websecmap run: make update_requirement_websecmap
git+https://gitlab.com/internet-cleanup-foundation/web-security-map@758fe8fd8ea92c77682c0786b61a409c4d9b49be#egg=websecmap

django-otp
django-two-factor-auth
django-picklefield
validators
python-magic
pytz
django
polib
