# dependencies not required during development

# make sure there are no version conflicts with requirements.txt
-c requirements.txt

git+https://gitlab.com/internet-cleanup-foundation/web-security-map@002972a962cf5c9a78f29fea4c4103d34cab919d#egg=websecmap[deploy]