# dependencies not required during development

# make sure there are no version conflicts with requirements.txt
-c requirements.txt

websecmap[deploy] @ git+https://gitlab.com/internet-cleanup-foundation/web-security-map@3f60686d2c3491046289e91d6ae541e5635c7171

# include (security) version constraints for non primary dependencies
-c security-constraints.in

uwsgi
django-uwsgi
