# make sure there are no version conflicts with requirements.txt
-c requirements.txt

# include dependecies from websecmap development
websecmap[dev] @ git+https://gitlab.com/internet-cleanup-foundation/web-security-map@484d4b099523697e46f9c85fd35fb5162906217f

# use the version with relaxed attr requirements
pytest-docker @ git+https://github.com/avast/pytest-docker@519b155009b6f3570c01f1f56e7c4e6ce3c5c760

# docs / readthedocs.io
sphinx-markdown-builder

django-cprofile-middleware

# django phonenumber field (via otp) needs this, and cannot get it themselves:
phonenumberslite>=7.0.2

rst2pdf

# QA tooling
vulture
ruff
autopep8

types-redis
types-freezegun
types-Markdown
types-polib
types-requests
types-setuptools

# include (security) version constraints for non primary dependencies
-c security-constraints.in