# make sure there are no version conflicts with requirements.txt
-c requirements.txt

autopep8
autoflake
isort
pylama
coverage
pytest
pytest-cov
pytest-django
# counterpart of requests for mock responses
pytest-responses
# output logging when test fails
pytest-logging
django-coverage
django-extensions
django-debug-toolbar
django-debug-toolbar-request-history
pytest-mock
websecmap @ git+https://gitlab.com/internet-cleanup-foundation/web-security-map@1c555a1b1551369e7e2f0292183d2bd00d3a4ff0
# use the version with relaxed attr requirements
pytest-docker @ git+https://github.com/avast/pytest-docker@519b155009b6f3570c01f1f56e7c4e6ce3c5c760

# docs / readthedocs.io
sphinx
sphinx-autobuild
recommonmark
sphinx-markdown-builder

# tests (of scanners)
httmock
freezegun
colorama

django-cprofile-middleware

# django phonenumber field (via otp) needs this, and cannot get it themselves:
phonenumberslite>=7.0.2

rst2pdf

# QA tooling
bandit
mypy
django-stubs
vulture
pylint
pylint-django
ruff

types-redis
types-freezegun
types-Markdown
types-polib
types-requests
types-setuptools

packaging>=23.1

# include (security) version constraints for non primary dependencies
-c security-constraints.in