# Dependencies for this project are manager using pip-tools (https://github.com/jazzband/pip-tools).
# This is a simple management tool to manage version pinnin build on top of Pip and requirements.txt.
# See upgrade commands here: https://github.com/jazzband/pip-tools/
# eg: pip-compile --upgrade-package django

# In this file only
# - specify requirements that are needed for Dashboard runtime (no development requirements).
# - no requirements that are already provided by websecmap itself
# - no version pinning, unless it is required and explained

# to update websecmap, update the SHA hash and run: make update_requirement_websecmap
git+https://gitlab.com/internet-cleanup-foundation/web-security-map@bd96d3e92fdf18d2513204f4fb47d217b43e7b30#egg=websecmap

django-otp
django-two-factor-auth
django-picklefield
validators
python-magic
pytz
django
polib
django-activity-stream
