# These requirements are only included for releases.
# Some of these don't build trivially (uwsgi, mysql) on all systems and therefore hinder development UX.

# database clients
mysqlclient
psycopg2

# wsgi server
django-uwsgi
uwsgi
