# make sure there are no version conflicts with requirements.txt
-c requirements.txt

autopep8
autoflake
isort
pylama
coverage
pytest
pytest-cov
pytest-django
# counterpart of requests for mock responses
pytest-responses
# output logging when test fails
pytest-logging
django-coverage
django-extensions
django-debug-toolbar
django-debug-toolbar-request-history
pytest-mock

# docs / readthedocs.io
sphinx
sphinx-autobuild
recommonmark

# tests (of scanners)
httmock
freezegun
colorama
pydotplus  # generating graphs with the docs command...

django-cprofile-middleware
moviepy

# django phonenumber field (via otp) needs this, and cannot get it themselves:
phonenumberslite>=7.0.2
