{% extends "admin/base.html" %}
{% block extrahead %}
{% load static %}
<!-- Inject admin action dropdown conversion to button for all admin pages. -->
<script type="text/javascript" src="{% static 'js/vendor/node_modules/vue/dist/vue.js' %}"></script>
<!-- add some CSS to make sure the action buttons are not overlapping the list of items -->
<!-- this is a really ugly hack and will probably not be a solution for all resolutions.
This hack assumes three rows or less of buttons, unless the "smartphone" resolution is used.
It "works" given the page never reaches the bottom (and the scroll-to-bottom style is applied) -->
<style>
.results {
    margin-bottom: 225px !important;
}

</style>
{% endblock %}
<!-- Override user message logic to allow html in messages (Admin Action Job Links) -->
{% block messages %}
{% if messages %}
<ul class="messagelist">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst|safe }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

<!-- This fixes the select boxes -->
<!-- https://github.com/geex-arts/django-jet/issues/464 -->
{% load i18n static jet_tags %}
{% block html %}{{ block.super }}
        <script src="{% url 'jet:jsi18n' %}"></script>
{% endblock %}

{% block blockbots %}{{ block.super }}

    <script src="{% static 'admin/js/vendor/jquery/jquery.js' as url %}{{ url|jet_append_version }}"
            type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery.init.js' as url %}{{ url|jet_append_version }}"></script>
{% endblock %}
