<!DOCTYPE html>
<html>
    <head>
        <link type="text/css"
              rel="stylesheet"
              href="{% url 'allauth_openapi_swagger_css' %}">
        <title>allauth.headless OpenAPI Specification | django-allauth</title>
    </head>
    <body data-csrf-token="{{ csrf_token }}" data-api-csrf="true" data-openapi-url="{% url 'headless:openapi_json' %}">
        <div id="swagger-ui"></div>
        <script src="{% url 'allauth_openapi_swagger_bundle' %}"></script>
        <script src="{% url 'allauth_openapi_swagger_init' %}"></script>
    </body>
</html>
