<!DOCTYPE html>{% load static %} {% load i18n %} {% load compress %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% trans "home pagetitle" %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Platform Internetstandaarden / Internet Standards Platform">


    <script type="text/javascript" src="{% static 'js/vendor/internet_nl/imagecheck-min.js' %}" defer="defer"></script>

    {% endcompress %}{% endif %}


    <script>
        // on embedded pages autodiscovery doesn't work, use a  manual call:
        // https://stackoverflow.com/questions/22169595/dropzone-js-init-function-not-being-called
        Dropzone.autoDiscover = false;

        Vue.component('v-select', VueSelect.VueSelect);
        Vue.component('tabs', VueTabs.Tabs);
        Vue.component('tab', VueTabs.Tab);


        function set_language(language_code){
            document.cookie = "dashboard_language=" + (language_code || "en") + "; path=/";
            location.reload();
        }

        // date and time to the current locale, whatever it may be:
        // read the cookie value for the correct locale. Fallback to browser locale. The browser locale is
        // the same as the UI locale and is not overwritten by the User-Accept parameter the browser sends.
        // This, in some cases, causes two languages to show up depending on what renders.
        // Django (python) defaults to Accept Language, the browser (javascript) defaults to the OS language.
        // Setting the language explicitly using a cookie solves this problem.
        // Various pages set this cookie to syncronize with the Request Language if the cookie is not set
        current_language = get_cookie('dashboard_language') ? get_cookie('dashboard_language') : window.navigator.language;
        moment.locale(current_language);

        // Used within templates to 'humanize' all kinds of values.
        const humanize_mixin = {
            methods: {

                // todo: can we change the locale for moment.js on the fly?
                humanize_date: function (date) {
                    // Uses localized date and time format with day name, which is pretty advanced and complete
                    return moment(date).format('LLLL');
                },
                humanize_date_date_only: function (date) {
                    // Uses localized date and time format with day name, which is pretty advanced and complete
                    return moment(date).format('LL');
                },
                humanize_relative_date: function (date) {
                    // says things like 'days ago'...
                    return moment(date).fromNow();
                },
                humanize_duration: function(duration_in_milliseconds) {
                    return moment.duration(duration_in_milliseconds).humanize()
                },
                humanize_filesize: function(size_in_bytes, decimals=0){
                    if(size_in_bytes === 0) return '0 Bytes';
                    let k = 1024,
                        dm = decimals <= 0 ? 0 : decimals || 2,
                        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                        i = Math.floor(Math.log(size_in_bytes) / Math.log(k));
                    return parseFloat((size_in_bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                }
            }
        };

        {% verbatim %}
