<h3>Instant User Creation Form</h3>
<p>This creates a standard user, an Account to internet.nl and the bridge between it (DashboardUser).
There are minimal password checks on this form. This form is intended to quickly migrate API user accounts and
give them access to the dashboard with the same username and password.</p>

{% if add_account_and_user_form_state == 'success' %}
<span class="success message"><b>Success!</b> The form has been saved. A new user has been added.</span>
{%  endif %}

{% if add_account_and_user_form_state == 'invalid' %}
<span class="invalid message"><b>Error!</b> The form contains error. See below.</span>
{%  endif %}

<form class="nav-link" method="POST" class="uniForm">
    {% csrf_token %}
    {{ add_account_and_user_form.as_p }}

    <br />
    <button type="submit" class="save btn btn-lg btn-primary">Add User</button>
</form>