<h3>Switch Account</h3>
<p>This feature allows you to switch to another account, and see this website from their perspective.</p>
<form class="nav-link" method="POST">
    {% csrf_token %}
    <label for="account_selection">Select account to use:</label>
    <select id="account_selection" onChange="this.form.submit()" name="change_account">
        {% for account in accounts %}
        <option value="{{ account.id }}" {% if account.id == selected_account %}selected{% endif %}>{{ account.name }}</option>
        {% endfor %}
    </select>
</form>