/*
This CSS file has some fixes for standard components. These create their own HTML and may be extremely ugly.
This is a quick workaround to make sure the components look better. The next step might be templating.
*/

button {
    display: inline !important;
}

th {
    border-bottom: 0 !important;
}

small {
    font-size: 0.8em;
    font-style: italic;
}

.panel-title a .icon {
    transition: all 200ms ease 0s;
    width: 1em;
    height: 1em;
    background-image: url("/static/images/vendor/internet_nl/icon-arrow-down.svg") !important;
    background-size: contain
}

.no-content {
    font-size: 1.2em;
    text-align: center;
}

#menu-button i {
    background-image: url("/static/images/vendor/internet_nl/icon-menu.svg") !important;
}

/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}

/* Allow printing of background images: */
/* https://stackoverflow.com/questions/6670151/how-can-i-force-browsers-to-print-background-images-in-css */
* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
}

@media print {
    .do-not-print {
        display: none !important;
    }
}

.testresult_without_icon {
    padding-left: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    background-color: #fff;
}


.home main:first-of-type {
    /* After bootstrap was imported the first block on the page was moved up. */
    margin-top: 1.75em !important;
}