{% comment %}
Todo: digitoegankelijk: how to select links with the keyboard? How can we make the reports accessible?
{% endcomment %}
<!DOCTYPE html>{% load static %} {% load i18n %} {% load compress %}
<html lang="EN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% trans "Dashboard for modern Internet Standards like IPv6, DNSSEC, HTTPS, TLS, HSTS, DMARC, DKIM, SPF, STARTTLS and DANE." %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Platform Internetstandaarden / Internet Standards Platform">
    <link rel="icon" href="https://www.internet.nl/static/favicon.png" sizes="32x32">
    <link rel="icon" href="https://www.internet.nl/static/favicon.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://www.internet.nl/static/favicon.png">
    <meta name="msapplication-TileImage" content="/static/favicon.png">

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/internet_nl/style-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/dropzone@5.5.0/basic.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/dropzone@5.5.0/dropzone.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/select2@4.0.6-rc.0/select2.min.css'%}">
        <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/vendor/internet_nl/print-min.css' %}">
        <link rel="stylesheet" type="text/css" id="noimages" href="{% static 'css/vendor/internet_nl/alt-min.css' %}" >
        <link rel="stylesheet" type="text/css" id="overrides" href="{% static 'css/overrides_dashboard.css' %}">

    {% endcompress %}

    <script type="text/javascript" src="{% static 'js/vendor/internet_nl/imagecheck-min.js' %}" defer="defer"></script>

    {% if debug %}
        <script type="text/javascript" src="{% static 'js/vendor/jquery@3.4.0/jquery-3.4.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/headroom-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/functions-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vuejs@2.6.8/vue.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/momentjs@2.24.0/moment-with-locales.js' %}" charset="UTF-8"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vue-i18n@8.9.0/vue-i18n.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vue-select@2.6.0/vue-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/lodash@4.17.11/lodash.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/select2@4.0.6-rc.0/select2.min.js' %}"></script>
    {% else %}{% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/jquery@3.4.0/jquery-3.4.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/headroom-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/functions-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vuejs@2.6.8/vue.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/momentjs@2.24.0/moment-with-locales.js' %}" charset="UTF-8"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vue-i18n@8.9.0/vue-i18n.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vue-select@2.6.0/vue-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/lodash@4.17.11/lodash.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/select2@4.0.6-rc.0/select2.min.js' %}"></script>
    {% endcompress %}{% endif %}

    <!-- Dropzone cannot be minified, results in errors. -->
    <script type="text/javascript" src="{% static 'js/vendor/dropzone@5.5.0/dropzone.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/translations/internet_nl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translations/dashboard.js' %}"></script>

    <script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <button style="float:right;" type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('close')">
                <span aria-hidden="true">&times;</span>
            </button>
            <slot name="header">
              default header

            </slot>

          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

    <script>
        // used in various vue components to translate the GUI
        const i18n = new VueI18n({
            locale: get_cookie('dashboard_language'),
            fallbackLocale: 'en',
            // it's required this is called messages.
            messages,
        });

        Vue.component('v-select', VueSelect.VueSelect);

        function set_language(language_code){
            document.cookie = "dashboard_language=" + (language_code || "en") + "; path=/";
            location.reload();
        }

        // https://stackoverflow.com/questions/10730362/get-cookie-by-name
        function get_cookie(name) {
            let value = "; " + document.cookie;
            let parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

        // date and time to the current locale, whatever it may be:
        // read the cookie value for the correct locale. Fallback to browser locale. The browser locale is
        // the same as the UI locale and is not overwritten by the User-Accept parameter the browser sends.
        // This, in some cases, causes two languages to show up depending on what renders.
        // Django (python) defaults to Accept Language, the browser (javascript) defaults to the OS language.
        // Setting the language explicitly using a cookie solves this problem.
        // Various pages set this cookie to syncronize with the Request Language if the cookie is not set
        current_language = get_cookie('dashboard_language') ? get_cookie('dashboard_language') : window.navigator.language;
        moment.locale(current_language);

        // Used within templates to 'humanize' all kinds of values.
        const humanize_mixin = {
            methods: {

                // todo: can we change the locale for moment.js on the fly?
                humanize_date: function (date) {
                    // Uses localized date and time format with day name, which is pretty advanced and complete
                    return moment(date).format('LLLL');
                },
                humanize_relative_date: function (date) {
                    // says things like 'days ago'...
                    return moment(date).fromNow();
                },
                humanize_filesize: function(size_in_bytes, decimals=0){
                    if(size_in_bytes === 0) return '0 Bytes';
                    let k = 1024,
                        dm = decimals <= 0 ? 0 : decimals || 2,
                        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                        i = Math.floor(Math.log(size_in_bytes) / Math.log(k));
                    return parseFloat((size_in_bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                }
            }
        };

        const http_mixin = {
            methods: {
                asynchronous_json_post: function(url, data, context, callback){
                    // the context parameter is somewhat dangerous, but this allows us to say 'self.' in the callback.
                    // which could be done somewhat better.
                    // https://stackoverflow.com/questions/20279484/how-to-access-the-correct-this-inside-a-callback
                    let server_response = {};
                    // console.log(`Posting to ${url}, with data ${data}`)
                    (async () => {
                      const rawResponse = await fetch(url, {
                        method: 'POST',
                        headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json',
                          'X-CSRFToken': get_cookie('csrftoken')
                        },
                        body: JSON.stringify(data)
                      });
                      try {
                          // here is your synchronous part.
                          server_response = await rawResponse.json();
                      } catch (e) {
                          // SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data
                          server_response = {'error': true, 'message': 'Server error'}
                      }
                      callback(context, server_response)
                    })();
                }
            }
        }
    </script>

</head>
<body class="home body-with-semifixed-header" cz-shortcut-listen="true">

<div class="skiplink"><a href="#content">
    Ga naar tekst-inhoud
</a></div>
<div class="skiplink"><a href="#sitenav">
    Ga naar het hoofd-menu
</a></div>
<div class="skiplink"><a href="#footer">
    Ga naar de footer
</a></div>
<header class="header-js-animated headroom--top headroom--not-bottom">
    <div class="wrap no-menu-button">
        <div id="masthead">
            <p id="site-title"><a href="/"><span class="hidden">{% trans "Internet.nl" %}</span></a></p>
            <p id="site-description"><span class="hidden">{% trans "Is your internet up-to-date?" %}</span></p>
        </div>

        <div id="language-switch-header-container" aria-hidden="false">
            <ul class="language-switch-list">
                <li><a onclick="set_language('en')">{% trans "English" %}</a></li>
                <li><a onclick="set_language('nl')">{% trans "Nederlands" %}</a></li>
            </ul>
        </div>

        <nav id="sitenav" aria-hidden="false">
            <ul>
                {% if user.is_authenticated %}

                    {% if user.is_superuser %}
                        <li class="{{menu_item_powertools}}"><a href="/powertools/" accesskey="a">{% trans "Admin" %}</a></li>
                    {% endif %}

                    <li class="{{menu_item_addressmanager}}"><a href="/domains/" accesskey="a">{% trans "Domains" %}</a></li>
                    <li class="{{menu_item_scan_monitor}}"><a href="/scans/" accesskey="a">{% trans "Scans" %}</a></li>
                    <li class="{{menu_item_dashboard}}"><a href="/reports/" accesskey="d">{% trans "Reports" %}</a></li>
                    <li class=""><a href="/account/two_factor/" accesskey="2">{% trans "Account" %}</a></li>
                    <li class=""><a href="/logout/" accesskey="l">{% trans "Log off" %}</a></li>
                {% else %}
                    <li class="current"><a href="/account/login/" accesskey="l">{% trans "Log in" %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<main id="content" class="clearfix" tabindex="-1">
    <div class="mainwrap">

        <div class="wrap">
            <section class="block websitetest">
                <div class="wrapper">
                    {% block content %}
                    {% endblock %}
                </div>
            </section>
        </div>

    </div>
    <div class="wrap">

        <section class="block news">
            <h2>
                t.b.d.
            </h2>
        </section>
    </div>
</main>

<footer id="footer">
    <img id="flag" src="{% static 'images/vendor/internet_nl/clear.gif' %}" alt="">
    <div class="wrap">
        {% trans "Internet.nl is an initiative of the Internet community and the Dutch government." %}
        <hr>
        <ul>
            <li><a class="footlink" href="https://www.internet.nl/disclosure/">
                {% trans "Responsible disclosure" %}
            </a></li>
            <li><a class="footlink" href="https://www.internet.nl/privacy/">
                {% trans "Privacy statement" %}
            </a></li>
            <li><a class="footlink" href="https://www.internet.nl/copyright/">
                {% trans "Copyright" %}
            </a></li>
            <li class="follow-us"><a class="footlink twitterfollow" href="https://twitter.com/internet_nl">
                {% trans "Follow us on Twitter" %}
            </a></li>
        </ul>
    </div>
</footer>
</body>
</html>
