{% extends 'internet_nl_dashboard/base.html' %}{% load humanize %}
{% block content %}
<div id="list_manager"></div>

{% verbatim %}
<!-- Todo: find nice edit component to inline edit. -->
<script type="x-template" id="lists">
    <div>
        <h2>Address Manager</h2>
        <p>This address manager will be 'really' built later on, especially given the risk the UI is not usable for
        everyone, and because of further developing requirements. The list below is extremely rudimentary and will not
        resemble the final product. It has been built to experiment how file uploads are processed, and to show
        something has happened after processing.</p>
        <h2>Lists</h2>
        <template v-for="list in lists">
            <h3 @click="get_list_content(list.name)">{{ list.name }}</h3>
            <button @click="get_list_content(list.name)" value="load">Show contents</button>
            <button @click="get_list_content(list.name)" value="load">Delete list</button>
            <!-- Todo: the input has to be a select2 type... when you paste a set of urls, it get parsed into
            multiple separate urls. -->
            <div v-if="has_items(list.name)">
                Bulk add new: <input type="text" name="add_url">
                <span v-for="url in list_content[list.name]['urls']">
                {{ url.url }}
                    <button type="button">Delete</button>
                </span>
            </div>
        </template>

        <h3>Add a new list:</h3>
        <input type="text" name="list_name">
        <button>Create List</button>
    </div>
</script>
{% endverbatim %}

<script>
// todo: add new, remove, drag to other list(?)
vueListManager = new Vue({
    name: 'list_manager',
    el: '#list_manager',
    template: '#lists',
    mixins: [],
    data: {
        loading: false,
        lists: [],
        list_content: {},
    },
    mounted: function () {
        this.load();
    },
    methods: {
        load: function() {
            this.get_lists();
        },
        get_lists: function(){
            this.loading = true;
            fetch(`/data/urllists/get/`).then(response => response.json()).then(data => {
                this.lists = data;
                this.loading = false;
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        },
        get_list_content: function(list_name){
            this.loading = true;
            fetch(`/data/urllist_content/get/${list_name}/`).then(response => response.json()).then(data => {
                this.list_content[list_name] = data;
                vueListManager.$forceUpdate();
                this.loading = false;
            }).catch((fail) => {console.log('A loading error occurred: ' + fail);});
        },
        has_items(list_name){
            return Object.keys(this.list_content).includes(list_name);
        },
    }
});
</script>
{% endblock %}
