<!DOCTYPE html>{% load static %} {% load i18n %} {% load compress %}
<html lang="EN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% trans "Dashboard for modern Internet Standards like IPv6, DNSSEC, HTTPS, TLS, HSTS, DMARC, DKIM, SPF, STARTTLS and DANE." %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Platform Internetstandaarden / Internet Standards Platform">
    <link rel="icon" href="https://www.internet.nl/static/favicon.png" sizes="32x32">
    <link rel="icon" href="https://www.internet.nl/static/favicon.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://www.internet.nl/static/favicon.png">
    <meta name="msapplication-TileImage" content="/static/favicon.png">

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/internet_nl/style-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/dropzone@5.5.0/basic.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/dropzone@5.5.0/dropzone.css' %}">
        <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/vendor/internet_nl/print-min.css' %}">
        <link rel="stylesheet" type="text/css" id="noimages" href="{% static 'css/vendor/internet_nl/alt-min.css' %}" >
        <link rel="stylesheet" type="text/css" id="overrides" href="{% static 'css/overrides_dashboard.css' %}">
    {% endcompress %}

    <script type="text/javascript" src="{% static 'js/vendor/internet_nl/imagecheck-min.js' %}" defer="defer"></script>
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/jquery-2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/headroom-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/functions-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vue.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/moment-with-locales.js' %}" charset="UTF-8"></script>
        <script type="text/javascript" src="{% static 'js/vendor/dropzone@5.5.0/dropzone.js' %}"></script>
    {% else %}{% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/jquery-2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/headroom-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/functions-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/vue.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/moment-with-locales.js' %}" charset="UTF-8"></script>
        <script type="text/javascript" src="{% static 'js/vendor/dropzone@5.5.0/dropzone.js' %}"></script>
    {% endcompress %}{% endif %}

    <script>
        function set_language(language_code){
            document.cookie = "dashboard_language=" + (language_code || "en") + "; path=/";
            location.reload();
        }

        // https://stackoverflow.com/questions/10730362/get-cookie-by-name
        function getCookie(name) {
          var value = "; " + document.cookie;
          var parts = value.split("; " + name + "=");
          if (parts.length === 2) return parts.pop().split(";").shift();
        }

        // date and time to the current locale, whatever it may be:
        // read the cookie value for the correct locale. Fallback to browser locale. The browser locale is
        // the same as the UI locale and is not overwritten by the User-Accept parameter the browser sends.
        // This, in some cases, causes two languages to show up depending on what renders.
        // Django (python) defaults to Accept Language, the browser (javascript) defaults to the OS language.
        // Setting the language explicitly using a cookie solves this problem.
        // Various pages set this cookie to syncronize with the Request Language if the cookie is not set
        current_language = getCookie('dashboard_language') ? getCookie('dashboard_language') : window.navigator.language;
        moment.locale(current_language);
    </script>

</head>
<body class="home body-with-semifixed-header" cz-shortcut-listen="true">

<div class="skiplink"><a href="#content">
    Ga naar tekst-inhoud
</a></div>
<div class="skiplink"><a href="#sitenav">
    Ga naar het hoofd-menu
</a></div>
<div class="skiplink"><a href="#footer">
    Ga naar de footer
</a></div>
<header class="header-js-animated headroom--top headroom--not-bottom">
    <div class="wrap no-menu-button">
        <div id="masthead">
            <p id="site-title"><a href="https://www.internet.nl/"><span class="hidden">{% trans "Internet.nl" %}</span></a></p>
            <p id="site-description"><span class="hidden">{% trans "Is your internet up-to-date?" %}</span></p>
        </div>

        <div id="language-switch-header-container" aria-hidden="false">
            <ul class="language-switch-list">
                <li><a onclick="set_language('en')">{% trans "English" %}</a></li>
                <li><a onclick="set_language('nl')">{% trans "Nederlands" %}</a></li>
            </ul>
        </div>

        <nav id="sitenav" aria-hidden="false">
            <ul>
                {% if user.is_authenticated %}
                    <li class="{{menu_item_dashboard}}"><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
                    <li class="{{menu_item_addressmanager}}"><a href="/addressmanager/">{% trans "Internet Addresses" %}</a></li>
                    <li class=""><a href="/account/two_factor/">{% trans "Setup 2nd factor authentication" %}</a></li>
                    <li class=""><a href="/logout/">{% trans "Log off" %}</a></li>
                {% else %}
                    <li class="current"><a href="/account/login/">{% trans "Log in" %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<main id="content" class="clearfix" tabindex="-1">
    <div class="mainwrap">

        <div class="wrap">
            <section class="block websitetest">
                <div class="wrapper">
                    {% block content %}
                    {% endblock %}
                </div>
            </section>
        </div>

    </div>
    <div class="wrap">

        <section class="block news">
            <h2>
                t.b.d.
            </h2>
        </section>
    </div>
</main>

<footer id="footer">
    <img id="flag" src="{% static 'images/vendor/internet_nl/clear.gif' %}" alt="">
    <div class="wrap">
        {% trans "Internet.nl is an initiative of the Internet community and the Dutch government." %}
        <hr>
        <ul>
            <li><a class="footlink" href="https://www.internet.nl/disclosure/">
                {% trans "Responsible disclosure" %}
            </a></li>
            <li><a class="footlink" href="https://www.internet.nl/privacy/">
                {% trans "Privacy statement" %}
            </a></li>
            <li><a class="footlink" href="https://www.internet.nl/copyright/">
                {% trans "Copyright" %}
            </a></li>
            <li class="follow-us"><a class="footlink twitterfollow" href="https://twitter.com/internet_nl">
                {% trans "Follow us on Twitter" %}
            </a></li>
        </ul>
    </div>
</footer>
</body>
</html>
