{% extends 'internet_nl_dashboard/templates/internet_nl_dashboard/_base.html' %}{% load humanize %}{% load i18n %}
{% block content %}

    <h1>Domains</h1>

    <p>This address manager will be 'really' built later on, especially given the risk the UI is not usable for
    everyone, and because of further developing requirements. The list below is extremely rudimentary and will not
    resemble the final product. It has been built to experiment how file uploads are processed, and to show
    something has happened after processing.</p>
    <p>Upload large amount of data: <a href="/upload/">{% trans "Bulk Address Uploader" %}</a></p>

    <div id="list_manager"></div>
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/domains.vue" %}
{% endblock %}
