{% extends 'internet_nl_dashboard/base.html' %}{% load humanize %}
{% block content %}
<style>
    .message {
        border: 5px solid #fff;
        width: 100%;
        display: block;
        padding: 15px;
        color: #444;
        border-radius: 11px;
    }

    .invalid {
        background: linear-gradient(to bottom, rgb(252, 216, 216) 0%, rgb(255, 237, 237) 100%);
    }

    .success {
        background: linear-gradient(to bottom, rgb(178, 252, 181) 0%, rgb(239, 255, 238) 100%);
    }
</style>
    <h1>Powertools</h1>
    <p>Some nice power user features. These are unpolished and unrestricted features that can do great things, and
    shoot you in the foot really hard.</p>

    {% include "internet_nl_dashboard/powertools/switch_account.html" %}

    {% include "internet_nl_dashboard/powertools/instant_add_account.html" %}

    <h3>About Users, DashboardUsers and Accounts</h3>
    <p>This system knows users, dashboardusers and account. This might be confusing at first, and this might help
    you getting started.</p>
    <p>Anyone that can log into this system has a user account. The standard user account has been extended a bit:
    it makes it possible to become part of a larger 'Account'.</p>
    <p>The larger Account holds the list with urls and has reports associated to it. This way multiple users can
    work on the same set of data.</p>

{% endblock %}
