{% extends 'internet_nl_dashboard/templates/internet_nl_dashboard/_base.html' %}{% load humanize %}
{% block content %}
<style>
    .message {
        border: 5px solid #fff;
        width: 100%;
        display: block;
        padding: 15px;
        color: #444;
        border-radius: 11px;
    }

    .invalid {
        background: linear-gradient(to bottom, rgb(252, 216, 216) 0%, rgb(255, 237, 237) 100%);
    }

    .success {
        background: linear-gradient(to bottom, rgb(178, 252, 181) 0%, rgb(239, 255, 238) 100%);
    }
</style>
    <div class="block fullwidth">
        <h1>Powertools</h1>
        <p>Some nice power user features. These are unpolished and unrestricted features that can do great things, and
        shoot you in the foot really hard.</p>
    </div>
    <div class="block fullwidth">
        {% include "internet_nl_dashboard/powertools/switch_account.html" %}
    </div>
    <div class="block fullwidth">
        {% include "internet_nl_dashboard/powertools/instant_add_account.html" %}
    </div>
{% endblock %}
