<!DOCTYPE html>{% load static %} {% load i18n %} {% load compress %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% trans "home pagetitle" %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Platform Internetstandaarden / Internet Standards Platform">
    <link rel="icon" href="https://www.internet.nl/static/favicon.png" sizes="32x32">
    <link rel="icon" href="https://www.internet.nl/static/favicon.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://www.internet.nl/static/favicon.png">
    <meta name="msapplication-TileImage" content="/static/favicon.png">

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/internet_nl/style-min.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'js/node_modules/dropzone/dist/basic.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'js/node_modules/dropzone/dist/dropzone.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'js/node_modules/vue-select/dist/vue-select.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'js/node_modules/chart.js/dist/Chart.css' %}">
        <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/vendor/internet_nl/print-min.css' %}">
        <link rel="stylesheet" type="text/css" id="overrides" href="{% static 'css/overrides_dashboard.css' %}">
    {% endcompress %}

    <script type="text/javascript" src="{% static 'js/vendor/internet_nl/imagecheck-min.js' %}" defer="defer"></script>

    {% if debug %}
        <script type="text/javascript" src="{% static 'js/node_modules/jquery/dist/jquery.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/node_modules/vue/dist/vue.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vuex/dist/vuex.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-router/dist/vue-router.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/moment/min/moment-with-locales.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-i18n/dist/vue-i18n.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-select/dist/vue-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-tabs-component/dist/index.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/node_modules/lodash/lodash.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/node_modules/chart.js/dist/Chart.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/patternomaly/dist/patternomaly.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/node_modules/dropzone/dist/dropzone.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/headroom-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/functions-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/internetnl.results-min.js' %}"></script>
    {% else %}{% compress js %}
        <script type="text/javascript" src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/node_modules/vue/dist/vue.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vuex/dist/vuex.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-router/dist/vue-router.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/moment/min/moment-with-locales.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-i18n/dist/vue-i18n.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-select/dist/vue-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/vue-tabs-component/dist/index.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/node_modules/lodash/lodash.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/node_modules/chart.js/dist/Chart.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/node_modules/patternomaly/dist/patternomaly.js' %}"></script>

        <!-- Dropzone cannot be minified, results in errors. -->
        <script type="text/javascript" src="{% static 'js/node_modules/dropzone/dist/dropzone.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/headroom-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/functions-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/internet_nl/internetnl.results-min.js' %}"></script>
    {% endcompress %}{% endif %}

    <script type="text/javascript" src="{% static 'js/translations/internet_nl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translations/dashboard.js' %}"></script>

    <script>
        // on embedded pages autodiscovery doesn't work, use a  manual call:
        // https://stackoverflow.com/questions/22169595/dropzone-js-init-function-not-being-called
        Dropzone.autoDiscover = false;

        const internet_nl_field_mapping = {
            internet_nl_web_tls: 'test_sitetls',
            internet_nl_web_dnssec: 'test_sitednssec',
            internet_nl_web_ipv6: 'test_siteipv6',

            internet_nl_mail_dashboard_tls: 'test_mailtls',
            internet_nl_mail_dashboard_auth: 'test_mailauth',
            internet_nl_mail_dashboard_dnssec: 'test_maildnssec',
            internet_nl_mail_dashboard_ipv6: 'test_mailipv6',

            internet_nl_web_appsecpriv: 'test_siteappsecpriv',
            internet_nl_web_appsecpriv_csp: 'detail_web_appsecpriv_http_csp',
            internet_nl_web_appsecpriv_referrer_policy: 'detail_web_appsecpriv_http_referrer_policy',
            internet_nl_web_appsecpriv_x_content_type_options: 'detail_web_appsecpriv_http_x_content_type',
            internet_nl_web_appsecpriv_x_frame_options: 'detail_web_appsecpriv_http_x_frame',
            internet_nl_web_appsecpriv_x_xss_protection: 'detail_web_appsecpriv_http_x_xss',
            internet_nl_web_https_cert_domain: 'detail_web_tls_cert_hostmatch',
            internet_nl_web_https_http_redirect: 'detail_web_tls_https_forced',
            internet_nl_web_https_cert_chain: 'detail_web_tls_cert_trust',
            internet_nl_web_https_tls_version: 'detail_web_tls_version',
            internet_nl_web_https_tls_clientreneg: 'detail_web_tls_renegotiation_client',
            internet_nl_web_https_tls_ciphers: 'detail_web_tls_ciphers',
            internet_nl_web_https_http_available: 'detail_web_tls_https_exists',
            internet_nl_web_https_dane_exist: 'detail_web_tls_dane_exists',
            internet_nl_web_https_http_compress: 'detail_web_tls_http_compression',
            internet_nl_web_https_http_hsts: 'detail_web_tls_https_hsts',
            internet_nl_web_https_tls_secreneg: 'detail_web_tls_renegotiation_secure',
            internet_nl_web_https_dane_valid: 'detail_web_tls_dane_valid',
            internet_nl_web_https_cert_pubkey: 'detail_web_tls_cert_pubkey',
            internet_nl_web_https_cert_sig: 'detail_web_tls_cert_signature',
            internet_nl_web_https_tls_compress: 'detail_web_tls_compression',
            internet_nl_web_https_tls_keyexchange: 'detail_web_tls_fs_params',
            internet_nl_web_dnssec_valid: 'detail_web_dnssec_valid',
            internet_nl_web_dnssec_exist: 'detail_web_dnssec_exists',
            internet_nl_web_ipv6_ws_similar: 'detail_web_ipv6_web_ipv46',
            internet_nl_web_ipv6_ws_address: 'detail_web_ipv6_web_aaaa',
            internet_nl_web_ipv6_ns_reach: 'detail_web_mail_ipv6_ns_reach',
            internet_nl_web_ipv6_ws_reach: 'detail_web_ipv6_web_reach',
            internet_nl_web_ipv6_ns_address: 'detail_web_mail_ipv6_ns_aaaa',

            // added with api 2.0.0
            internet_nl_web_https_tls_cipherorder: 'detail_web_tls_cipher_order',
            internet_nl_web_https_tls_0rtt: 'detail_web_tls_zero_rtt',
            internet_nl_web_https_tls_ocsp: 'detail_web_tls_ocsp_stapling',
            internet_nl_web_https_tls_keyexchangehash: 'detail_web_tls_kex_hash_func',

            internet_nl_mail_starttls_cert_domain: 'detail_mail_tls_cert_hostmatch',
            internet_nl_mail_starttls_tls_version: 'detail_mail_tls_version',
            internet_nl_mail_starttls_cert_chain: 'detail_mail_tls_cert_trust',
            internet_nl_mail_starttls_tls_available: 'detail_mail_tls_starttls_exists',
            internet_nl_mail_starttls_tls_clientreneg: 'detail_mail_tls_renegotiation_client',
            internet_nl_mail_starttls_tls_ciphers: 'detail_mail_tls_ciphers',
            internet_nl_mail_starttls_dane_valid: 'detail_mail_tls_dane_valid',
            internet_nl_mail_starttls_dane_exist: 'detail_mail_tls_dane_exists',
            internet_nl_mail_starttls_tls_secreneg: 'detail_mail_tls_renegotiation_secure',
            internet_nl_mail_starttls_dane_rollover: 'detail_mail_tls_dane_rollover',
            internet_nl_mail_starttls_cert_pubkey: 'detail_mail_tls_cert_pubkey',
            internet_nl_mail_starttls_cert_sig: 'detail_mail_tls_cert_signature',
            internet_nl_mail_starttls_tls_compress: 'detail_mail_tls_compression',
            internet_nl_mail_starttls_tls_keyexchange: 'detail_mail_tls_fs_params',
            internet_nl_mail_auth_dmarc_policy: 'detail_mail_auth_dmarc_policy',
            internet_nl_mail_auth_dmarc_exist: 'detail_mail_auth_dmarc',
            internet_nl_mail_auth_spf_policy: 'detail_mail_auth_spf_policy',
            internet_nl_mail_auth_dkim_exist: 'detail_mail_auth_dkim',
            internet_nl_mail_auth_spf_exist: 'detail_mail_auth_spf',
            internet_nl_mail_dnssec_mailto_exist: 'detail_mail_dnssec_exists',
            internet_nl_mail_dnssec_mailto_valid: 'detail_mail_dnssec_valid',
            internet_nl_mail_dnssec_mx_valid: 'detail_mail_dnssec_mx_valid',
            internet_nl_mail_dnssec_mx_exist: 'detail_mail_dnssec_mx_exists',
            internet_nl_mail_ipv6_mx_address: 'detail_mail_ipv6_mx_aaaa',
            internet_nl_mail_ipv6_mx_reach: 'detail_mail_ipv6_mx_reach',
            internet_nl_mail_ipv6_ns_reach: 'detail_web_mail_ipv6_ns_reach',
            internet_nl_mail_ipv6_ns_address: 'detail_web_mail_ipv6_ns_aaaa',

            // added with api2.0
            internet_nl_mail_starttls_tls_cipherorder: 'detail_mail_tls_cipher_order',
            internet_nl_mail_starttls_tls_keyexchangehash: 'detail_mail_tls_kex_hash_func',
            internet_nl_mail_starttls_tls_0rtt: 'detail_mail_tls_zero_rtt',
        };

        // categories are translated with _passed_summary or _failed_summary. The rest with their label. Should be in
        // the retrieved translations anyway.
        function import_field_translations(language){
            let mapping = {};
            for (let key of Object.keys(internet_nl_field_mapping)) {
                mapping[key] = internet_nl_messages[language].internet_nl[internet_nl_field_mapping[key] + '_label']
            }
            return mapping;
        }

        function interpolate_translations(){
            let translation = messages;

            translation.nl = Object.assign(translation.nl, import_field_translations('nl'));
            translation.en = Object.assign(translation.en, import_field_translations('en'));

            return translation;
        }

        // used in various vue components to translate the GUI
        const i18n = new VueI18n({
            locale: get_cookie('dashboard_language'),
            fallbackLocale: 'en',
            silentFallbackWarn: true,
            // it's required this is called messages.
            messages: interpolate_translations()
        });

        Vue.component('v-select', VueSelect.VueSelect);
        Vue.component('tabs', VueTabs.Tabs);
        Vue.component('tab', VueTabs.Tab);


        function set_language(language_code){
            document.cookie = "dashboard_language=" + (language_code || "en") + "; path=/";
            location.reload();
        }

        // https://stackoverflow.com/questions/10730362/get-cookie-by-name
        function get_cookie(name) {
            let value = "; " + document.cookie;
            let parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

        // date and time to the current locale, whatever it may be:
        // read the cookie value for the correct locale. Fallback to browser locale. The browser locale is
        // the same as the UI locale and is not overwritten by the User-Accept parameter the browser sends.
        // This, in some cases, causes two languages to show up depending on what renders.
        // Django (python) defaults to Accept Language, the browser (javascript) defaults to the OS language.
        // Setting the language explicitly using a cookie solves this problem.
        // Various pages set this cookie to syncronize with the Request Language if the cookie is not set
        current_language = get_cookie('dashboard_language') ? get_cookie('dashboard_language') : window.navigator.language;
        moment.locale(current_language);

        // Used within templates to 'humanize' all kinds of values.
        const humanize_mixin = {
            methods: {

                // todo: can we change the locale for moment.js on the fly?
                humanize_date: function (date) {
                    // Uses localized date and time format with day name, which is pretty advanced and complete
                    return moment(date).format('LLLL');
                },
                humanize_date_date_only: function (date) {
                    // Uses localized date and time format with day name, which is pretty advanced and complete
                    return moment(date).format('LL');
                },
                humanize_relative_date: function (date) {
                    // says things like 'days ago'...
                    return moment(date).fromNow();
                },
                humanize_duration: function(duration_in_milliseconds) {
                    return moment.duration(duration_in_milliseconds).humanize()
                },
                humanize_filesize: function(size_in_bytes, decimals=0){
                    if(size_in_bytes === 0) return '0 Bytes';
                    let k = 1024,
                        dm = decimals <= 0 ? 0 : decimals || 2,
                        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                        i = Math.floor(Math.log(size_in_bytes) / Math.log(k));
                    return parseFloat((size_in_bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                }
            }
        };

        const http_mixin = {
            methods: {
                asynchronous_json_post: function(url, data, callback){
                    // the context parameter is somewhat dangerous, but this allows us to say 'self.' in the callback.
                    // which could be done somewhat better.
                    // https://stackoverflow.com/questions/20279484/how-to-access-the-correct-this-inside-a-callback
                    let server_response = {};
                    // console.log(`Posting to ${url}, with data ${data}`)
                    (async () => {
                      const rawResponse = await fetch(url, {
                          method: 'POST',
                          credentials: 'include',
                          headers: {
                              'Accept': 'application/json',
                              'Content-Type': 'application/json',
                              'X-CSRFToken': get_cookie('csrftoken')
                          },
                          body: JSON.stringify(data)
                      });
                      try {
                          // here is your synchronous part.
                          server_response = await rawResponse.json();
                      } catch (e) {
                          // SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data
                          server_response = {'error': true, 'message': 'Server error'}
                      }
                      callback(server_response)
                    })();
                }
            }
        };

        {% verbatim %}

        Vue.use(Vuex);
        const store = new Vuex.Store({
            state: {
                // -2 is used, to be able to distinct for the first upload and zero uploads.
                uploads_performed: -2,

                // the scan monitor is used to determine if lists of domains or the reports dropdowns need to be
                // updated. If the scan monitor is not loaded, a standard autorefresh strategy is used.
                scan_monitor_data: [],
            },

            mutations: {
                // this.$store.commit('set_uploads_performed', 0)
                set_uploads_performed(state, value){
                    state.uploads_performed = value;
                },
                update_scan_monitor_data(state, value){
                    state.scan_monitor_data = value;
                }
            },
        });


        $( document ).ready(function() {
            // new Vue({ el: '#menu', template: `<site-menu></site-menu>`, i18n});
            Vue.use(VueRouter);

            const routes = [
                { path: '/', component: DomainListManager, },

                // refreshing the app on a control panel will lead to nothing, make sure it leads to something.
                { path: '/control-panel-:id', component: DomainListManager, },

                { path: '/domains/:list', component: DomainListManager, name: 'numbered_lists'},
                { path: '/domains', component: DomainListManager, },
                { path: '/upload', component: SpreadsheetUpload,
                props: {csrf_token: get_cookie('csrftoken'),
                    max_lists: '{% endverbatim %}{{ config.DASHBOARD_MAXIMUM_LISTS_PER_SPREADSHEET }} {% verbatim %}',
                    max_urls: '{% endverbatim %} {{ config.DASHBOARD_MAXIMUM_LISTS_PER_SPREADSHEET }} {% verbatim %}',
                    }
                },
                { path: '/scans', component: ScanMonitor },
                { path: '/report/:report/:compare_with', component: Report, name:'compared_numbered_report'},
                { path: '/report/:report', component: Report, name: 'numbered_report'},
                { path: '/report', component: Report },
                { path: '/switch-account', component: SwitchAccount },
                { path: '/add-user', component: InstantAddAccount },
                { path: '/tour', component: Demo },
                { path: '/demo', component: Demo },
                { path: '/unsubscribe', component: Unsubscribe },
                { path: '/profile', component: Account },
                { path: '/account', component: Account },
            ];

            const router = new VueRouter({
                routes, // short for `routes: routes`
                props: true,
                // https://reactgo.com/scroll-to-anchor-tags-vue-router/
                // does not work, as nested anchors is not a thing (and not reliable). So do this in component.
                scrollBehavior: function (to) {if (to.hash) {return {selector: to.hash}}},
            });

            const app = new Vue({
                router,
                i18n,
                el: "#app",
                data: {
                    show_hamburgermenu: false,
                    hamburgermenu_expanded: false,
                },
                mounted: function() {
                    console.log("App loaded");
                },
                methods: {
                    toggleHamburgerMenuExpand: function () {
                        this.hamburgermenu_expanded = !this.hamburgermenu_expanded;

                        // this code was taken from menu-min.js
                        var header = document.querySelector('header .wrap'),
                            menu = document.querySelector('#sitenav'),
                            langswitch = document.querySelector('#language-switch-header-container'),
                            menuButton = document.querySelector('.menu-button');

                        if (this.hamburgermenu_expanded) {
                            header.classList.add('active');
                            menu.classList.add('active');
                            menu.setAttribute('aria-hidden', 'false');
                            langswitch.classList.add('active');
                            langswitch.setAttribute('aria-hidden', 'false');
                            menuButton.setAttribute('aria-expanded', 'true');
                        } else {
                            header.classList.remove('active');
                            menu.classList.remove('active');
                            menu.setAttribute('aria-hidden', 'true');
                            langswitch.classList.remove('active');
                            langswitch.setAttribute('aria-hidden', 'true');
                            menuButton.setAttribute('aria-expanded', 'false');
                        }
                    }
                }
            })

            // trigger actions on window resize:
            function WidthChange(mq) {
                app.show_hamburgermenu = !mq.matches;
                // reset the menu state after resizing while the menu is open. So the next click it can be opened again.
                if (!app.show_hamburgermenu){
                    app.hamburgermenu_expanded = false;
                }
            }
            if (matchMedia) {
                var mq = window.matchMedia('(min-width: 740px)');
                mq.addEventListener('change', WidthChange);
                WidthChange(mq);
            }
        });

        // this prevents the legend being written over the 100% scores
        Chart.Legend.prototype.afterFit = function() {
            this.height = this.height + 20;
        };

        {% endverbatim %}
    </script>

    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/chart_mixin.vue" %}
    <!-- todo: are these bar charts not just a set of options for the same thing? -->
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/percentage-bar-chart.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/cumulative-percentage-bar-chart.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/line-chart.vue" %}

    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/modal.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/site-menu.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/loading.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/autorefresh.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/server-response.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/domains.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/managed-url-list.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/report.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/scan_monitor.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/switch_account.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/add_account.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/upload.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/internet_nl_charts.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/demo.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/unsubscribe.vue" %}
    {% include "internet_nl_dashboard/templates/internet_nl_dashboard/account.vue" %}


</head>
<body class="home body-with-semifixed-header" cz-shortcut-listen="true">
    <div  id="app">
        <div class="hidethis" aria-hidden="true">
            <span id="matomo-url">//matomo.internet.nl/</span>
            <span id="matomo-siteid">2</span>
            <span id="matomo-subdomain-tracking">*.internet.nl</span>
          </div>
        <div class="skiplink"><a href="#content">
            {% trans "page gotocontents" %}
        </a></div>
        <div class="skiplink" id="skiplink-sitenav"><a href="#sitenav">
            {% trans "page gotomainmenu" %}
        </a></div>
        <div class="skiplink"><a href="#footer">
            {% trans "page gotofooter" %}
        </a></div>

        <header>
            <div class="wrap">
                <div class="hidethis" aria-hidden="true">
                    <span id="panel-button-show">
                        Show details
                    </span>
                    <span id="panel-button-hide">
                        Hide details
                    </span>
                    <span id="panel-item-open">
                        open
                    </span>
                    <span id="panel-item-close">
                        close
                    </span>
                </div>

                <div id="masthead">
                    <p id="site-title"><a href="/"><span class="hidden">{% trans "page sitetitle" %}</span></a></p>
                    <p id="site-description"><span class="hidden">{% trans "page sitedescription" %}</span></p>
                </div>

                <template v-if="show_hamburgermenu">
                    <button id="menu-button"
                            aria-label="Menu"
                            aria-expanded="false"
                            aria-controls="sitenav"
                            @click="toggleHamburgerMenuExpand"
                            class="menu-button">
                        <i>≡</i><b>&nbsp;menu</b>
                    </button>


                    <div id="language-switch-header-container" aria-hidden="true">
                        <ul class="language-switch-list">
                            {% with user_language=request.LANGUAGE_CODE %}
                                {% get_language_info_list for LANGUAGES as languages %}

                                {% for language in languages %}
                                    <li>
                                        {% if language.code == user_language %}
                                            <button class="active-language" disabled>{{ language.name_local }}</button>
                                        {% else %}
                                            <a onclick="set_language('{{ language.code }}')">{{ language.name_local }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        </ul>
                    </div>

                    <nav id="sitenav" aria-hidden="true" aria-labelledby="menu-button">
                        <site-menu :is_authenticated="{{ user.is_authenticated | lower }}"
                                   :is_superuser="{{ user.is_superuser | lower }}"></site-menu>
                    </nav>
                </template>
                <template v-else>

                    <div id="language-switch-header-container">
                        <ul class="language-switch-list">
                            {% with user_language=request.LANGUAGE_CODE %}
                                {% get_language_info_list for LANGUAGES as languages %}

                                {% for language in languages %}
                                    <li>
                                        {% if language.code == user_language %}
                                            <button class="active-language" disabled>{{ language.name_local }}</button>
                                        {% else %}
                                            <a onclick="set_language('{{ language.code }}')">{{ language.name_local }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        </ul>
                    </div>

                    <nav id="sitenav">
                        <!-- Todo: move these types of variables to a general config, instead of sprinkling it around.-->
                        <site-menu :is_authenticated="{{ user.is_authenticated | lower }}"
                                   :is_superuser="{{ user.is_superuser | lower }}"></site-menu>
                    </nav>
                </template>
            </div>
        </header>

        <main id="content" class="clearfix" tabindex="-1">
            <div class="mainwrap">

            </div>
            <div class="wrap">

            <div style="width: 100%;">
                <!-- to support keep alive, you also need to rewrite the links between components to be updated -->
                <!-- to support keep alive, your autorefresh functions need to triggered more frequently / smarter -->
                <keep-alive>
                    <router-view></router-view>
                </keep-alive>
            </div>

            </div>

            <div class="wrap">
                <section class="block do-not-print">
                    <div class="wrapper">
                        <p style="font-size: 0.9em; font-style: italic; margin-bottom: 0em;">
                            Thank you for using the internet.nl dashboard. Please report issues on <a href="https://github.com/internetstandards/Internet.nl-dashboard/issues" target="_blank">this GitHub page</a>.
                        </p>
                    </div>
                </section>
            </div>

        </main>

        <footer id="footer">
            <img id="flag" src="{% static 'images/vendor/internet_nl/clear.gif' %}" alt="">
            <div class="wrap">
                {% trans "base info" %}
                <hr>
                <ul>
                    <li><a class="footlink" href="https://www.internet.nl/disclosure/">
                        {% trans "base disclosure" %}
                    </a></li>
                    <li><a class="footlink" href="https://www.internet.nl/privacy/">
                        {% trans "base privacy" %}
                    </a></li>
                    <li><a class="footlink" href="https://www.internet.nl/copyright/">
                        {% trans "base copyright" %}
                    </a></li>
                    <li class="follow-us"><a class="footlink twitterfollow" href="https://twitter.com/internet_nl">
                        {% trans "base followtwitter" %}
                    </a></li>
                </ul>
            </div>
        </footer>

    </div>

    <script type="text/javascript" src="/static/js/vendor/internet_nl/accordion-min.js" defer></script>
    <script type="text/javascript" src="/static/js/vendor/internet_nl/matomo-min.js"></script>
</body>
</html>

