/* This CSS file has some fixes for standard components. These create their own HTML and may be extremely ugly.
    This is a quick workaround to make sure the components look better. The next step might be templating.
*/
/* Second factor fixes, todo: must be placed in special div for recognition */
form, .home .block .wrapper form {
    /* todo: is there a usability reason to display it as a table cell? */
    display: block !important;
}

button {
    display: inline !important;
}

th {
    border-bottom: 0 !important;
}


/* Improve contrast for uploads, even though you might not see the right colors, you can now actually see the
 symbol and the result. */
.dropzone .dz-preview.dz-success .dz-success-mark svg g path {
    fill: green;
}

.dropzone .dz-preview.dz-error .dz-error-mark svg g g {
    fill: #ff0000;
}

.dz-error {
    border: 5px solid red;
    border-radius: 23px;
    width: 130px !important;
}

.dz-success {
    border: 5px solid green;
    border-radius: 23px;
    width: 130px !important;
}

/** Having the OK sign disappear does not help, and it flies over too fast... */
.dropzone .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
}

/* Give more spacing at headers. Todo: should we use bootstrap or bootstrapvue even? */
h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 16px;
}

H4 {
    margin-top: 12px;
}


/*
Vue Modal
@see https://vuejs.org/v2/examples/modal.html
*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h1 {
  margin-top: 0;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


small {
    font-size: 0.8em;
    font-style: italic;
}

.server-response-error {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9e0e4;
    color: darkred;
}

.server-response-success{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgreen;
    color: #004f00;
}

.managed-url-list h2 {
    display: inline;
    font-size: 1.2em;
}

.panel-title a .icon {
    transition: all 200ms ease 0s;
    width: 1em;
    height: 1em;
    background: url("/static/images/vendor/internet_nl/icon-arrow-down.png") center right no-repeat !important;
    background-image: url("/static/images/vendor/internet_nl/icon-arrow-down.svg"), none !important;
    background-size: contain
}

.testresult h3 {
    margin-top: 0px;
}

.inline-edit input {
    margin-bottom: 0px !important;
}

.inline-edit button {
    font-size: 0.7em !important;
    margin: 0px !important;
    height: 23px;
}

.url-in-managed-list{
    margin-bottom: 5px;
    width:100%;
}

.view-csv{
    width:100%;
    height: 200px;
}

.select2-selection--multiple{
    height: 200px;
    width: 100%;
    overflow: auto;
}


/** Loading indicator, https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 55px;
  height: 38px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #00BFD6;
  border-color: #00BFD6 transparent #00BFD6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
    padding-top: 17px;
    text-align: center;
}

.loading span {
    display: inline-block;
    height: 64px;
    font-size: 2em;
    color: darkgray;
}

.no-content {
    font-size: 1.2em;
    text-align: center;
}

.dialog_warning{
    font-weight: bold;
}

/** Testresults in matrix style */
.category_passed {
    background-image: url("/static/images/vendor/internet_nl/icon-circle-check.png");
    background-image: url("/static/images/vendor/internet_nl/icon-circle-check.svg"), none;
}

.passed {
    background-image: url("/static/images/vendor/internet_nl/li-shield-ok.png");
    background-image: url("/static/images/vendor/internet_nl/li-shield-ok.svg"), none;
}

.category_failed {
    background-image: url("/static/images/vendor/internet_nl/icon-circle-error.png");
    background-image: url("/static/images/vendor/internet_nl/icon-circle-error.svg"), none;
}

.failed {
    background-image: url("/static/images/vendor/internet_nl/icon-error.png");
    background-image: url("/static/images/vendor/internet_nl/icon-error.svg"), none;
}

.warning {
    background-image: url("/static/images/vendor/internet_nl/icon-warning.png");
    background-image: url("/static/images/vendor/internet_nl/icon-warning.svg"), none;
}

.category_warning {
    background-image: url("/static/images/vendor/internet_nl/icon-circle-warning.png");
    background-image: url("/static/images/vendor/internet_nl/icon-circle-warning.svg"), none;
}

.info {
    background-image: url("/static/images/vendor/internet_nl/icon-info.png");
    background-image: url("/static/images/vendor/internet_nl/icon-info.svg"), none;
}

.not_testable {
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested-question-mark.png");
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested-question-mark.svg"), none;
}

.not_applicable {
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested.png");
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested.svg"), none;
}

.compared_with_next_report_neutral:before {
    content: '';
    /* No image is the cleanest background-image: url("/static/images/report_comparison_neutral.png"), none; */
    width: 32px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

.compared_with_next_report_improved:before {
    content: '';
    background-image: url("/static/images/report_comparison_improved.png"), none;
    width: 32px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

.compared_with_next_report_regressed:before {
    content: '';
    background-image: url("/static/images/report_comparison_regressed.png"), none;
    width: 32px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

.faq-subtest {
    padding-left: 1.5em;
    background: #fff url("/static/images/vendor/internet_nl/icon-testresult-default.png") no-repeat;
    background-image: url("/static/images/vendor/internet_nl/icon-testresult-default.svg"), none;
    background-size: 1.125em 1.125em
}

.testresult.passed, .faq-subtest.passed {
    background-image: url("/static/images/vendor/internet_nl/icon-check.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-check.svg"), none !important
}

.testresult.failed, .faq-subtest.failed {
    background-image: url("/static/images/vendor/internet_nl/icon-error.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-error.svg"), none !important
}

.testresult.warning, .faq-subtest.warning {
    background-image: url("/static/images/vendor/internet_nl/icon-warning.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-warning.svg"), none !important
}

.testresult.info, .faq-subtest.info {
    background-image: url("/static/images/vendor/internet_nl/icon-info.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-info.svg"), none  !important
}

.testresult.good-not-tested, .faq-subtest.good-not-tested {
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested-question-mark.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested-question-mark.svg"), none !important
}

.testresult.not-tested, .faq-subtest.not-tested {
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested.svg"), none !important
}


.testresults h2.error, .faq-test.error, #testresults-overview ul li.error {
    background-image: url("/static/images/vendor/internet_nl/probe-error.png") !important;
    background-image: url("/static/images/vendor/internet_nl/probe-error.svg"), none !important
}

.testresults h2.warning, .faq-test.warning, .test-header .test-title h2.warning, #testresults-overview ul li.warning {
    background-image: url("/static/images/vendor/internet_nl/icon-circle-warning.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-circle-warning.svg"), none  !important
}

.testresults h2.failed, .faq-test.failed, .test-header .test-title h2.failed, #testresults-overview ul li.failed {
    background-image: url("/static/images/vendor/internet_nl/icon-circle-error.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-circle-error.svg"), none !important
}

.testresults h2.info, .faq-test.info, .test-header .test-title h2.info, #testresults-overview ul li.info {
    background-image: url("/static/images/vendor/internet_nl/icon-info.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-info.svg"), none !important
}

.testresults h2.passed, .faq-test.passed, .test-header .test-title h2.passed, #testresults-overview ul li.passed {
    background-image: url("/static/images/vendor/internet_nl/icon-circle-check.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-circle-check.svg"), none  !important
}


@media (max-width: 499px) {
    #site-title a {
        background-image: url("/static/images/vendor/internet_nl/logo_en.png") !important;
        background-image: url("/static/images/vendor/internet_nl/logo_en.svg") !important;
    }
}

@media (min-width: 500px) and (max-width: 739px) {
    #site-title a {
        background-image: url("/static/images/vendor/internet_nl/logo-tablet_en.png") !important;
        background-image: url("/static/images/vendor/internet_nl/logo-tablet_en.svg") !important;
    }
}

@media (min-width: 740px) {
    #site-title a {
        background-image: url("/static/images/vendor/internet_nl/logo_en.png") !important;
        background-image: url("/static/images/vendor/internet_nl/logo_en.svg") !important;
    }
}

#menu-button i {
    background-image: url("/static/images/vendor/internet_nl/icon-menu.png") !important;
    background-image: url("/static/images/vendor/internet_nl/icon-menu.svg") !important;
}


/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}


/* Password fields */

.block input[type="password"] {
    width: 100%
}

.block input[type="password"] {
    border: 2px solid #dadada;
    border-radius: 4px;
    font-size: 1em;
    padding-left: .5em;
    margin-top: .5em;
    height: 1.875em
}


.twitterfollow {
    background: url("/static/images/vendor/internet_nl/icon-twitterfollow.svg") !important;
    background: url("/static/images/vendor/internet_nl/icon-twitterfollow.png") !important;
    background-color: transparent  !important;
    background-repeat: no-repeat  !important;
    background-position: 5px center  !important;
    background-size: 1.25em 1.25em  !important;
    padding-left: 2em  !important;
}

.router-link-active {
    font-weight: bold;
    border-bottom: 3px solid #ffab4c;
}

/* Allow printing of background images: */
/* https://stackoverflow.com/questions/6670151/how-can-i-force-browsers-to-print-background-images-in-css */
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}

/* Allow printing of graphs, make sure they don't go wider than the page width... */
/* https://stackoverflow.com/questions/41674976/resize-chart-js-canvas-for-printing */
/* We'll resize the image to fit plain a4 paper, otherwise the aspect ratios are distorted.*/
@media print {
    canvas.graph-image {
        height: 60% !important;
        width: 60% !important;
    }

    /* Also remove the superfluous container sizes during print, as the image is a bit smaller now: */
    .chart-container {
        height: 100% !important;
    }
}

.testresult_without_icon {
    padding-left: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    background-color: #fff;
}