/* This CSS file has some fixes for standard components. These create their own HTML and may be extremely ugly.
    This is a quick workaround to make sure the components look better. The next step might be templating.
*/
/* Second factor fixes, todo: must be placed in special div for recognition */
form, .home .block .wrapper form {
    /* todo: is there a usability reason to display it as a table cell? */
    display: block !important;
}

button {
    display: inline !important;
}

th {
    border-bottom: 0 !important;
}


/* Improve contrast for uploads, even though you might not see the right colors, you can now actually see the
 symbol and the result. */
.dropzone .dz-preview.dz-success .dz-success-mark svg g path {
    fill: green;
}

.dropzone .dz-preview.dz-error .dz-error-mark svg g g {
    fill: #ff0000;
}

.dz-error {
    border: 5px solid red;
    border-radius: 23px;
    width: 130px !important;
}

.dz-success {
    border: 5px solid green;
    border-radius: 23px;
    width: 130px !important;
}

/** Having the OK sign disappear does not help, and it flies over too fast... */
.dropzone .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
}

/* Give more spacing at headers. Todo: should we use bootstrap or bootstrapvue even? */
h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 16px;
}

H4 {
    margin-top: 12px;
}


/*
Vue Modal
@see https://vuejs.org/v2/examples/modal.html
*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


small {
    font-size: 0.8em;
    font-style: italic;
}

.server-response-error {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9e0e4;
    color: darkred;
}

.server-response-success{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgreen;
    color: darkgreen;
}

label {
    font-weight: 600;
}



.managed-url-list{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: ghostwhite;
}

.inline-edit input {
    margin-bottom: 0px !important;
}

.inline-edit button {
    font-size: 0.7em !important;
    margin: 0px !important;
    height: 23px;
}

.url-in-managed-list{
    margin-bottom: 5px;
    width:100%;
}

.view-csv{
    width:100%;
    height: 200px;
}

.select2-selection--multiple{
    height: 200px;
    width: 100%;
    overflow: auto;
}


/** Loading indicator, https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 55px;
  height: 38px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #00BFD6;
  border-color: #00BFD6 transparent #00BFD6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
    background-color: ghostwhite;
    border: 1px solid silver;
    border-radius: 5px;
    padding-top: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.loading span {
    display: inline-block;
    height: 64px;
    font-size: 2em;
    color: darkgray;
}

.no-content {
    font-size: 1.2em;
    text-align: center;
}

.testresultcell span{
    background-size: 1.125em 1.125em;
    background-repeat: no-repeat;
    /**
    The reason we're not using padding-left 1.5em is that we want the results to be copy-pasteable.
    So there is invisible text on the icon that can be copied.
    */
    width: 20px;
    height: 20px;
    display: block;
    color: transparent;
}

/** Testresults in matrix style */
.passed {
    background-image: url("/static/images/vendor/internet_nl/li-shield-ok.png");
    background-image: url("/static/images/vendor/internet_nl/li-shield-ok.svg"), none;
}

.failed {
    background-image: url("/static/images/vendor/internet_nl/icon-error.png");
    background-image: url("/static/images/vendor/internet_nl/icon-error.svg"), none;
}

.testresultcell.warning, .warning, .faq-subtest.warning {
    background-image: url("/static/images/vendor/internet_nl/icon-warning.png");
    background-image: url("/static/images/vendor/internet_nl/icon-warning.svg"), none;
}

.testresultcell.info, .info, .faq-subtest.info {
    background-image: url("/static/images/vendor/internet_nl/icon-info.png");
    background-image: url("/static/images/vendor/internet_nl/icon-info.svg"), none;
}

.testresultcell.good-not-tested, .good-not-tested, .faq-subtest.good-not-tested {
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested-question-mark.png");
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested-question-mark.svg"), none;
}

.testresultcell.not-tested, .not-tested, .faq-subtest.not-tested {
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested.png");
    background-image: url("/static/images/vendor/internet_nl/icon-not-tested.svg"), none;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


/* https://css-tricks.com/rotated-table-column-headers/*/
    th.rotate {
  /* Something you can count on */
  height: 100px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(0px, 55px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
    border-bottom: 0px solid #ccc;
    padding: 5px 10px;
}
